<!doctype html>
<html lang="en">
<head>
	<title>Kindturtle</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link href='/vendors/bootstrap/toolkit.min.css' rel='stylesheet' />
	<link href='/vendors/bootstrap/application.css' rel='stylesheet' />
</head>
<body class="with-top-navbar">
    <div id="app"><%- reactOutput %></div>
    <script id="preloadedData" type="application/json"><%- preloadedData %></script>
    <script src="http://localhost:8080/js/bundle.js"></script>
</body>
</html>